.graph {
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .task-dot {
    border-radius: 50%;
    cursor: pointer;
  }
  
  .task-dot.selected {
    border: 2px solid #000; /* Highlight the selected task */
  }