.graph-container {
    width: 33%;
    padding-bottom: 33%; /* This maintains the aspect ratio */
    position: relative; /* This is needed for the inner content to be positioned correctly */
    border: 2px solid #000;
    background-color: #f0f0f0;
    margin-right: 1%; /* Small margin to separate from TaskListContainer */
    flex-shrink: 0; /* Prevent shrinking */
  }
  
  .graph-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }