.editor {
    display: flex;
    height: 100%;
  }
  
  .editor-sidebar {
    width: 25%;
    padding: 20px;
    border-right: 1px solid #ddd;
    background-color: #f9f9f9;
    position: relative;
  }
  
  .editor-description {
    width: 75%;
    padding: 20px;
  }
  
  .editor-field {
    margin-bottom: 10px;
  }
  
  .editor-field label {
    display: block;
    margin-bottom: 5px;
  }
  
  .editor-field input[type="text"] {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
  }
  
  .editor-field input[type="range"] {
    width: 100%;
  }
  
  .editor-description textarea {
    width: 100%;
    height: calc(100% - 40px); /* Adjust height to fit within the container */
    padding: 10px;
    box-sizing: border-box;
    resize: none;
  }
  
  .delete-button {
    padding: 10px 20px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .delete-button:hover {
    background-color: #c82333;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }