.App {
    text-align: center;
  }
  
  .title {
    margin-top: 20px;
    font-size: 2em;
    font-weight: bold;
  }
  
  .container {
    display: flex;
    align-items: flex-start; /* Align items to the top */
    padding: 20px;
  }
  
  .add-button {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .add-button:hover {
    background-color: #218838;
  }