.task-list {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
  }
  
  .task-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    border: 1px solid transparent; /* Default border */
  }
  
  .task-item.selected {
    border: 2px solid #000; /* Highlight the selected task */
  }
  
  .task-color {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .task-title {
    flex-grow: 1;
  }
  
  .task-size {
    margin-left: auto;
  }
  
  .task-item-meter {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: currentColor;
  }
  
  .tick {
    position: absolute;
    width: 25%;
    height: 1px;
    background-color: gray;
    left: 0;
  }
  
  .tick-five {
    width: 50%;
  }
  
  .tick-ten {
    width: 100%;
  }